<!DOCTYPE html>
<html>
<head>
  <title>StayHomepage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
Hallo
</nav>

  <div class = "main">
	<section >
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
  	  <%= yield %>
    </section>
  </div>
</body>
</html>
